

<!-- this code creates one subject input and its label  -->
<div class=" mb-3 mx-auto normalwidth" >   

    <div class="input-group">
      <select class='form-control p-2 col-md-6' name="subjects">
        <% for(var i=0; i<subjects.length; i++) {%>
            <option value="<%= subjects[i] %>"><%= subjects[i] %></option>
         <% } %>
      </select>
      <select class='form-control p-2 col-md-6 smaller' name="numbers">
        <% for(var i=0; i<numbers.length; i++) {%>
            <option value="<%= numbers[i] %>"><%= numbers[i] %></option>
         <% } %>
      </select>
    </div>
  </div>